body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(../images/Bgfirstpage.jpg);
    background-size: cover;
    background-position: center;
    height: 95vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background: linear-gradient(to bottom right, #0099cc, #006699);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add box shadow for depth */
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.form-group {
    margin-bottom: 20px;
}

form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 50%;
}

form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #0099cc;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

form button:hover {
    background-color: #0099cc;
    color: #fff;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
